<%- include("partials/header") %>

<!-- <div id="newCampContainer" class="container text-center">
    <h1 class="">Create a new Campground</h1>

    <div class="row justify-content-center">
        <form action="/campgrounds" method="POST" class="col-md-6">
            <input class="d-block" type="text" placeholder="name" name="name">
            <input class="d-block" type="text" placeholder="image url" name="image">
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

<a href="/campgrounds">return</a> -->


<div class="container">
    <div class="">
        <h1 id="newCampH1" class="">Create a New Campground</h1>
        <form id="newCampForm" action="/campgrounds" method="POST" class="">
            <input class="form-control" type="text" placeholder="name" name="name">
            <input class="form-control" type="text" placeholder="image url" name="image">
            <input class="form-control" type="text" placeholder="description" name="description">
            <button class="btn btn-primary btn-block">Submit</button>
            <a href="/campgrounds">return</a>
        </form>

    </div>

</div>



<%- include("partials/footer") %>