<%- include("partials/header") %> 

<link rel="stylesheet" href="app.css">
<h1>HOME PAGE</h1>
<img src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=660&q=80" alt="">
<%- include("partials/footer") %> 
