<%- include("partials/header") %>


<h1 class="display-1 jumbotron text-center">Search for a movie</h1>

<div class="container text-center">

    <form action="/results" method="GET">
        <input type="text" name="search" id="" placeholder="search term">
        <input type="submit" class="btn btn-primary">
    </form>
</div>

</body>
</html>