body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
img {
    width: auto;
    align-items: center;
}
#goal {
    width: 50px;
    margin: 15px 0px;
}
#goalPlayerOne {
    background-color:#335c67;
    color: white;
}
#goalPlayerTwo {
    background-color:#540b0e;
    color: white;
}
#reset {
    background-color: #e09f3e;
    color: white;
}
.container {
    margin-top: 50px;
    padding: 5px;
    width: 30%;
    /* border: 2px solid red;  */
}
.button {
    margin: 0px;
}

