body{
    padding-top: 70px;
}
.jumbotron{
    color: #2c3e50;
    background: #ecf0f1;
}
.navbar-inverse{
    background:  #2c3e50;
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
.navbar-inverse .navbar-brand{
    color: white;
}
.image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}
/* cars */
.evo{
    background-image: url(https://i.pinimg.com/564x/cc/25/5e/cc255e1097988eb9efb796c0ac30f1c3.jpg);
}
.supra{
    background-image: url(https://i.pinimg.com/564x/06/3b/6d/063b6d534857f101d4a27e7d4da6b9c9.jpg);
    background-position: bottom;
}
.crx{
    background-image: url(https://i.pinimg.com/564x/92/96/8b/92968b3aa97c46592b56417ae7a78c63.jpg);
}
.gtr{
    background-image: url(https://i.pinimg.com/564x/59/fe/8c/59fe8ce363e6e9e44d55049a7e13de2c.jpg);
}
.ae86{
    background-image: url(https://i.pinimg.com/564x/81/fe/ba/81feba3b706e02a5677419e7e8e884f8.jpg);
}
.sti{
    background-image: url(https://i.pinimg.com/564x/7e/84/77/7e8477a9665b51efcc226d0c76829b83.jpg);
}