@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

img{
    width: 30%;
    float: left;
    /* margin:1.66%;  */
    margin: calc(10%/6);
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1.66%;
    font-size: 4.5vw; 
    text-transform: uppercase;
    border-bottom: 1px solid #bebebe;
    width: 40%;
}
strong{
    font-size: 2em;
}